.mainTittleCss{
  background:#6A9C78;
  padding: 2% 5%;
  /* max-height: 500px; */
  /* overflow-y: scroll; */
}

.TittleLink{
  text-decoration: none;
  color: #F9F8ED;
  font-weight: bold;
  font-size: 1.1rem;
}
.TittleLink:hover{
  color: #C4E3CB;
}
.DropDownMenu{
  background: #C4E3CB;
  padding: 10px;
}
.BottonToggle{
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
}
.dropDownItem{
  padding: 2px;
  color: #6A9C78;
  font-weight: bold;
}
.dropDownItem:hover{
  background: #6A9C78;
  color: #C4E3CB;
  text-decoration: 2px underline #C4E3CB;
}
  ::-webkit-scrollbar {
    width: 1px;
  }
  

/* Code for the scrollbar */
  /* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
     background: #6A9C78;
    ;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }