.mainTittleCss{
  height: 100%;
  overflow: hidden;
}
.SearchbarDiv{
  height: auto;
  width: 25%;
  /* border: 2px solid red; */
  float: right;
}
.TextAreaSearch{
  padding: 5% 1%;
  width: 90%;
}
.search-icon{
  float: right;
  font-size: 30px;
  color: rgba(51, 51, 51, 0.726);
  line-height: 62px;
}
.search-icon:hover{
  color: rgb(0, 0, 0);
}
.NavBarCustom{
  background:#6A9C78;
  padding : 2% 5%;
  width: 100%;
  float: left;
}
.TittleLink{
  text-decoration: none;
  color: #F9F8ED;
  font-weight: bold;
  font-size: 1.1rem;
}
.TittleLink:hover{
  color: #C4E3CB;
}
.DropDownMenu{
  background: #C4E3CB;
  padding: 10px;
  z-index: +1;
}
.BottonToggle{
  color: #F9F8ED;
  border: 1px solid #F9F8ED;
  padding: 10px 20px;
}
.dropDownItem{
  padding: 2px;
  color: #6A9C78;
  font-weight: bold;
}
.dropDownItem:hover{
  background: #6A9C78;
  color: #C4E3CB;
  text-decoration: 2px underline #C4E3CB;
}
@media (max-width : 1250px){
  .SearchbarDiv{
    height: auto;
    width: 40%;
  }
}
@media (max-width : 900px){
  .SearchbarDiv{
    height: auto;
    width: 100%;
  }
}


  ::-webkit-scrollbar {
    width: 1px;
  }
  

/* Code for the scrollbar */
  /* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
     background: #6A9C78;
    ;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }