.mainInformation{
    min-height: 700px;
    height: 100%;
    width: 70%;
    /* border: 1px solid green; */
    background-color:#F9F8ED ;
    padding: 0 5%;
    margin: auto;
}
@media (max-width : 600px) {
    .mainInformation{
        width: 90%;
    }
}
.imageInfo{
    width:100%;
    height:400px;
}

.paragraphInformation{
    color: #333;
    text-align: justify;
}
.InformationHeading{
    color: #6A9C78;;
}
.paragraphInformation h1 {
    color: #6A9C78;
}
.paragraphInformation h2 {
    color: #6A9C78;
}
.paragraphInformation h3 {
    color: #6A9C78;
}
.paragraphInformation h4 {
    color: #6A9C78;
}
.paragraphInformation h5 {
    color: #6A9C78;
}
.paragraphInformation h6 {
    color: #6A9C78;
}