.mainSidebar{
    min-height: 700px;
    height: 100%;
    width: 25%;
    /* border: 1px solid green; */
    float: right;
    background-color: #6A9C78;
    color:  #F9F8ED;
    font-size: 20px;
}
.UlSidebar{
    list-style: none;
    padding: 0;
}
.LiSidebar{
    padding: 1% 5%;
}
.LinkSidebar{
    text-decoration: none;
    color:  #F9F8ED;
}
.LinkSidebar:hover{
    color: #C4E3CB;
}